<%= form_with scope: :users, url: { action: "ban_deleted" }, local: true do |f| %>
  <fieldset>
    <label for="users_manual_comment" class="control-label">
      <%= "Comentario"%>
    </label>
    <div class="inputlabel-box">
      <%= f.text_area :manual_comment %>
    </div>
  </fieldset>
  <div class="buttons">
    <%= f.submit 'Confirmar', class: 'button' %>
    <%= link_to "Cancelar", action: "show" %>
  </div>
<% end %>
